{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ evenement.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Nbpersonne</th>
                <td>{{ evenement.nbpersonne }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <img src="https://api.qrserver.com/v1/create-qr-code/?data= l'id de l'evenement :{{evenement.id}},le type d'evenement :{{evenement.type}},la description :{{ evenement.description}},Date:{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}&amp;size=250x250" alt="" title=":" style="atsc-nav-index:1000px"/>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">back to list</a>

    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
