{% extends 'base.html.twig' %}

{% block title %}Hello ListeReservationController!{% endblock %}

{% block body %}
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Reservations
            </h2>
        </div>



        <div class="filters-content">
            <div class="row grid">
                {% for r in reservations%}
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>

                            <div class="detail-box">
                                <h1>
                                    {{r.nomclient}}
                                </h1>
                                <p>
                                    {{r.numero}}
                                </p>

                                    <p>
                                        {{r.nbpersonne}}
                                    </p>
                                <p>
                                {{ r.date ? r.date|date('Y-m-d') : '' }}
                                </p>

                                <p>

                                {{ r.archived ? 'Yes' : 'No' }}
                                </p>
                                <a href="{{ path('reservation_show', {'id': r.id}) }}">show</a>
                                <a href="{{ path('reservation_edit', {'id': r.id}) }}"><h6>Edit</h6></a>


                            </div>
                        </div>
                    </div>

                </div>

                {% endfor %}

            </div>
        </div>
    </div>

</section>
<div class="btn-box justify-content-start">
    <a href="{{ path('reservation_new') }}">Create new</a>
</div>
            {% endblock %}
