{% extends "base.html.twig" %}
{% block title %} Reclamations {% endblock %}
{% block container %}


<div class="container mt-5">
    <div class="row tm-content-row justify-content-center">
      <div class="col-sm-15 col-md-15 col-lg-10 col-xl-10 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <h2 class="tm-block-title">Reclamations</h2>

          <input type="text" id="searchr" placeholder="Search" class="form-control"> 

          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table" id="t">
              <thead>
                <tr>
                 
                  <th scope="col">Client Name</th>
                  <th scope="col">Client Email</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date</th>
                  <th scope="col">Is Solved</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Solve</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody id="all">
                <tr {% for r in reclamations %}>
                  <td> {{r.nomclient}} </td>
                  <td> {{r.emailclient}} </td>
                  <td> {{r.description|length > 15 ? r.description|slice(0, 15) ~ '...' : r.description}} </td>
                  <td> {{r.date.format('d/m/Y')}} </td>
                  {% if r.issolved %}
                  <td style="text-align:center"> <i class="fas fa-light fa-check" style='font-size:20px;color:rgb(0, 255, 0)'></i></td>
                  {% else %}
                  <td style="text-align:center"><i class="fas fa-times" style='font-size:20px;color:red'></i></td>
                  {% endif %}
                  <td style="text-align:center">
                    <a href="{{ path('Delr',{'id':r.id}) }}">
                      <i class="far fa-trash-alt tm-product-delete-icon" style='font-size:20px;color:red'></i>
                    </a>
                  </td>
                  {% if (r.issolved == 0) %}
                  <td style="text-align:center">
                    <a href="{{ path('solve',{'id':r.id}) }}">
                      <i class="fas fa-duotone fa-check" style='font-size:20px;color:rgb(0, 255, 0)'></i>
                    </a>
                  </td>
                  {% endif %}
                </tr {% endfor %}>
                
              </tbody>
              <tbody id="searchtab">
            
              </tbody>
            </table>
        </div>
        {% if isPaginated %}
        <nav aria-label="  Page navigation example">
          <ul class="pagination">
               {% if page == 1 %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% else %}
            <li class="page-item"><a class="page-link" href={{ path('DisplayReclamation', {page: page - 1, nbre: nbre}) }}>Previous</a></li>
              {% endif %}
            {% for i in range(1, nbrePage) %}
               {% if page == i %}
                   <li class="page-item active "><a class="page-link" href={{ path('DisplayReclamation', {page: i, nbre: nbre}) }}>{{i}}</a></li>
                {% else %}
                   <li class="page-item "><a class="page-link" href={{ path('DisplayReclamation', {page: i, nbre: nbre}) }}>{{i}}</a></li>
              {% endif %}
            {% endfor %}
            {% if page == nbrePage %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href={{ path('DisplayReclamation', {page: page + 1, nbre: nbre}) }}>Next</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>
  </div>
</div>
</div>

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
$(document).ready(function(){
$("#searchr").keyup(function(){
/* La variable value va prendre la valeur insérer dans le
champ de texte
afin d’effectuer la recherche */
var value = $(this).val();
console.log("value : ")
/* Ajax est lancé lors du remplissage du champ texte dont
l’id est
« search » pour faire la recherche */
$.ajax({
/* l’url est une chaine de caractères contenant
l’adresse où la requête est
6
envoyée */
url : "{{ path('searchnamer') }}",
/* La méthode utilisée pour transférer les données est
GET */
type : 'GET',
/*Ici search value va prendre la chaine entrée par un
utilisateur dans la
zone de recherche et sera placée après l’url */
dataType: "json",
data: {
'searchValue' : value
},
/*Cette fonction permet de vider le contenu du tableau
pour recevoir le
nouveau contenu*/

success : function(retour){
if(retour){
console.log(retour);
$('#t tbody#searchtab').empty();
$.each(JSON.parse(retour), function(i, obj) {
  $d=obj.description;
  $dt =new Date(obj.date.timestamp * 1000).toLocaleDateString("fr"); 
if(obj.issolved == 1)  {
$('#t tbody#all').hide();
$('#t tbody#searchtab').append('<tr><td> '+obj.nomclient+'</td><td> '+obj.emailclient+' </td><td class="hide-text">'+$d+'</td><td>'+$dt+ '</td><td><i class="fas fa-light fa-check" style="font-size:20px;color:rgb(0, 255, 0)"></i> </td><td style="text-align:center"><a href="Deleter/'+obj.id+'" ><i class="far fa-trash-alt tm-product-delete-icon" style="font-size:20px;color:red"></a></td></tr>');} else {
  $('#t tbody#all').hide();
$('#t tbody#searchtab').append('<tr><td> '+obj.nomclient+'</td><td> '+obj.emailclient+' </td><td class="hide-text">'+$d+ '</td><td>'+$dt+ '</td><td><i class="fas fa-times" style="font-size:20px;color:red"></i></td><td style="text-align:center"><a href="Deleter/'+obj.id+'" >  <i class="far fa-trash-alt tm-product-delete-icon" style="font-size:20px;color:red"><i></a></td><td style="text-align:center"><a href="reclamation/solve/'+obj.id+'"> <i class="fas fa-duotone fa-check" style="font-size:20px;color:rgb(0, 255, 0)"></a></td> </tr>');}
});
}
else
{
$('#t tbody#all').show();
$('#t tbody#searchtab').empty();
$('#t tbody#searchtab').fadeIn('fast');
}
},
});
return false;
});
});
</script>
        
  {% endblock %}