<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stock</h1>
   <table border="1">
       <tr>
           <th>ID</th>
           <th>Id_categorie</th>
           <th>Nom</th>
           <th>Unite</th>
           <th>Quantite</th>
           <th>Prix_unitaire</th>
           <th>Prix_Total</th>
           <th>Update</th>
           <th>Delete</th>
       </tr>
       <tr {% for p in produits %}>
           <td> {{p.id}} </td>
           <td> {{p.IdCategorie}} </td>
           <td> {{p.nom}} </td>
           <td> {{p.unite}} </td>
           <td> {{p.quantite}} </td>
           <td> {{p.PrixUnitaire}} </td>
           <td> {{p.PrixTotal}} </td>
           <td><a a href="{{ path('Upd',{'id':p.id}) }}">Update</a></td>
           <td><a a href="{{ path('Del',{'id':p.id}) }}">Delete</a></td>
       </tr {% endfor %}>
   </table> 
   <a a href="{{ path('Add') }}">Add</a>
</body>
</html>
