<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categories</h1>
   <table border="1">
       <tr>
           <th>ID</th>
           <th>Nom</th>
           <th>Update</th>
           <th>Delete</th>

       </tr>
       <tr {% for c in categories %}>
           <td> {{c.id}} </td>
           <td> {{c.nom}} </td>
           <td><a a href="{{ path('Updc',{'id':c.id}) }}">Update</a></td>
           <td><a a href="{{ path('Delc',{'id':c.id}) }}">Delete</a></td>
       </tr {% endfor %}>
   </table> 
   <a a href="{{ path('Addc') }}">Add</a>
</body>
</html>
